/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FBFBFB;
  min-width: 1280px;

}

.header {
  background-color: #FBFBFB;
  margin-bottom: 50px;
}

.nav {
  display: grid;
  grid-template-columns: auto 700px;
  align-self: center;
}

.catalog-grid {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.button_nav {
  grid-column: 2/2;
}

.nav_links {
  grid-column: 1/1;
  align-self: end;
}

.footer {
  display: grid;
  background-color: #929697;
  margin-top: 30px;
  justify-self: center;

}

.footer-copyright,
.footer-social {
  justify-self: center;
}

.button {
  min-width: 114px;
  width: auto;
  margin-right: 16px;
  padding: 9px 38px 8px;
  text-transform: uppercase;
  border: 1px solid #343592;
  border-radius: 5px;
  box-sizing: border-box;

}

.form_authorization,
.form_registration,
.form_announcement {
  display: grid;
  width: 500px;
  justify-self: center;
}

.form div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.hidden {
  display: no ne;

}

.form legend {
  text-align: center
}

.social-btn {
  margin-left: 2px;
  margin-right: 2px;
}

.cart {
  display: grid;
  grid-template-columns: auto auto;
  align-self: center;
  max-width: 1600px;
  column-gap: 150px;
  row-gap: 30px;
}

.cart-1c {
  grid-column: 1/1;
  font-size: 20px;
}

.cart-2c {
  grid-column: 2/2;
  font-size: 20px;
}

.name,
.price {
  font-weight: 600;
  font-size: 40px;
}

.input_announcement {
  width: 200px;
}



textarea#name,
textarea#adress {
  width: 202px;
}


.cart_users {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart .image_cart {
  width: 400px;
}

.cart_users .image_cart {
  width: 150px;
}

.cart_users_flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
}
