body {
  background-color: #FBFBFB;
  min-width: 1280px;

}

.header {
  background-color: #FBFBFB;
  margin-bottom: 50px;
}

.nav {
  display: grid;
  grid-template-columns: auto 700px;
  align-self: center;

}

.button_nav {
  grid-column: 2/2;
}

.nav_links {
  grid-column: 1/1;
  align-self: end;
}

.footer {
  display: grid;
  background-color: #929697;
  margin-top: 20px;
  justify-self: center;
}

.footer-copyright {
  justify-self: center;
}

.button {
  min-width: 114px;
  width: auto;
  margin-right: 16px;
  padding: 9px 38px 8px;
  text-transform: uppercase;
  border: 1px solid #343592;
  border-radius: 5px;
  box-sizing: border-box;

}

/*  */

.form_authorization,
.form_registration,
.form_announcement {
  display: grid;
  width: 500px;
  justify-self: center;
}

.form div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.hidden {
  display: none;

}

.form legend {
  text-align: center
}
