
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Автомобиль</mat-card-title>
    <mat-card-subtitle>700 000 Р</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/Lada.jpg" alt="Изображение товара">
  <mat-card-content>
    <p>
      Продам машину в идеальном состоянии!
    </p>
    <p>
      Иван
    </p>
    <p>
      89781111111
    </p>
    <p>
      Адрес
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-raised-button color="primary" class="button_card">Оставить комментарий</button>
      <button mat-raised-button color="primary" class="button_card">Поделиться</button>
    </div>
  </mat-card-actions>
</mat-card>

