<!-- Карточка объявления (начало) -->
<div class="card" style="width: 14rem;" *ngIf="advertisement">

  <!-- Заголовок объявления -->
  <div class="card-header" style="width: 14rem; height: 3rem;">
    <h6 class="card-title font-weight-bold">
      {{advertisement.title.substring(0,20)}}
    </h6>
  </div>

  <!-- Категория и текст объявления (начало) -->
  <div class="card-body" style="width: 14rem; height: 12rem;">
    <p class="badge badge-secondary"
      role="button"
      (click)="getAdvertisementCategoryId(advertisement.categoryId)">
      {{advertisement.categoryName}}
    </p>
    <p>{{advertisement.body.substring(0,100)}}...</p>
  </div>
  <!-- Категория и текст объявления (конец) -->

  <!-- Футтер (начало) -->
  <div class="card-header"
    style="width: 14rem; height: 7rem;">
    
    <!-- Кнопка "Подробнее" -->
    <a routerLink="{{advertisement.id}}"
      class="btn btn-primary">
      Подробнее
    </a>

    <!-- Автор -->
    <p>Автор:
      <a class="badge badge-secondary"
        *ngIf="advertisement?.ownerId"
        role="button"
        (click)="getContentByOwnerId(advertisement.ownerId)">
        {{userName}}
      </a>
    </p>

    <!-- Стоимость -->
    <h6>  Стоимость:
      <div class="badge badge-secondary"
        *ngIf="advertisement?.price">
        {{advertisement.price}}&nbsp;р
      </div>
    </h6>

  </div>
  <!-- Футтер (конец) -->

</div>
<!-- Карточка объявления (конец) -->