 <div>
      <label for="multipleFile"></label>
      <input multiple accept="image/*"  id="multipleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
      <br>
      
      <mat-file-upload-queue #fileUploadQueue
          [fileAlias]="'file'"
          [httpUrl]="'https://localhost:44379/api/v1/userfiles/'">
          
          <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
      </mat-file-upload-queue>
    </div>  


    
    <!-- <div>
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
          <div>
            <input type="file" name="profile" (change)="onFileSelect($event)" />
          </div>
          <div>
            <button type="submit">Upload</button>
          </div>
        </form>
      </div> -->
    