<footer class="footer">
   <div class="footer-social">
     <a class="social-btn social-btn-vk" href="#">
       <img src="/assets/vk.png" alt="Вконтакте" height="50"></a>
     <a class="social-btn social-btn-fb" href="#">
       <img src="/assets//fb.png" alt="Фейсбук" height="45"></a>
     <a class="social-btn social-btn-in" href="#">
       <img src="/assets/instagram.png" alt="Инстаграм" height="50"></a>
     <a class="social-btn social-btn-yb" href="#">
       <img src="/assets/youtube.png" alt="YouTube" height="50"></a>
     <a class="social-btn social-btn-tg" href="#">
       <img src="/assets/telegram.png" alt="Telegram" height="50">
     </a>
   </div>
   <div class="footer-copyright"> © 2021-2021 ООО «Севито». Все права защищены.</div>
 </footer>
