<app-login></app-login>
<app-registration></app-registration> 
 <app-announcement></app-announcement>
<app-card></app-card> 



   <!-- <mat-form-field class="login" appearance="outline">
      <mat-label>Введите Ваш логин</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button class="button_log" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

<div class="password">
  <mat-form-field appearance="outline">
    <mat-label>Введите Ваш пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button class="button_log" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div> -->
<router-outlet></router-outlet>
